!/app/output
app/output/*
!/app/output/directory.txt

!/app/signature
app/signature/*
!/app/signature/directory.txt
!/app/signature/pyhanko.yml
!/app/signature/unihacker.png

!/app/upload
app/upload/*
!/app/upload/directory.txt